.card__option {
    width: 35vw;
    height: 45vh;
    background-color: #F7E6D4;
    border: none;
    border-radius: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* margin-right: 5vw; */
    transition: all .5s;
    cursor: pointer;
}

.card__option:hover {
    box-shadow: 0 0 0.8vw rgba(0, 0, 0, 0.5);
}

.card__option-info {
    width: calc(100% - 40%);
    height: 100%;
    /* background-color: blue; */
    position: relative;
}

.card__option-info > .card__option-info-status {
    position: absolute;
    width: 6vw;
    height: 2vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    top: 4vh;
    left: 2vw;
    padding: 2vh 1vw;
    border: none;
    border-radius: 0.4vw;
}

.card__option-info > .card__option-info-status > p {
    margin-top: 3vh;
    margin-left: 0.5vw;
}

.card__option-info > .card__option-info-text {
    position: absolute;
    top: 14vh;
    left: 2vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.card__option-info > .card__option-info-text > p {
    font-size: 0.7vw;
    /* background-color: red; */
    margin-left: -0.1vw;
    width: 18vw;
    margin-top: 1.5vh;
}

.card__option-info > .card__option-info-link {
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 6vw;
    /* background-color: red; */
    height: 5vh;
    border-bottom: 0.15vw solid black;
}

.card__option-info > .card__option-info-link > p {
    font-size: 1vw;
    font-weight: bold;
    margin-top: 3vh;
    margin-right: 0.8vw;
    margin-left: 1vw;
}

.card__option-image {
    width: calc(100% - 60%);
    height: 100%;
    /* background-color: green; */
    position: relative;
}

@media screen and (max-width: 431px){
    .card__option {
        width: 85vw;
        height: 17vh;
        margin-left: -15vw;
        margin-top: 2vh;
        /* margin-bottom: 0; */
    }

    .card__option-info {
        width: calc(100% - 30%);
    }

    .card__option-info > .card__option-info-status {
        display: none;
    }

    .card__option-info > .card__option-info-status > p {
        /* margin-top: 1vh; */
        /* margin-left: 0.5vw; */
        /* background-color: red; */
    }
    
    .card__option-info > .card__option-info-text {
        position: absolute;
        top: 3vh;
        left: 2vw;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .card__option-info > .card__option-info-text > h3 {
        font-size: 5vw;
    }
    
    .card__option-info > .card__option-info-text > p {
        font-size: 1.5vw;
        /* background-color: red; */
        margin-left: -0.1vw;
        width: 40vw;
        margin-top: 0vh;
    }

    .card__option-info > .card__option-info-link {
        position: absolute;
        bottom: 2vh;
        left: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        width: 15vw;
        /* background-color: red; */
        height: 3vh;
        border-bottom: 0.15vw solid black;
    }
    
    .card__option-info > .card__option-info-link > p {
        font-size: 2.5vw;
        font-weight: bold;
        margin-top: 3vh;
        margin-right: 0.8vw;
        margin-left: 1vw;
        margin-bottom: 6vw;
    }

}