table {
    border: black;
}

thead {
    background-color: gray;
}

tbody {
    margin-top: 20px;
    /* background-color: red; */
}

tr {
    /* background-color: yellow; */
}

tr > th {

}

th {
    background-color: gray;
    color: white;
    width: 20vw;
    height: 5vh;
}

td {
    height: 5vh;
    padding-left: 1vw;
    font-size: 0.9vw;
    border: 1px soild black;
}