
.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head-logo {
    width: 12vw;
    margin-bottom: 5vh;
}

.head-logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


ul {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

ul > li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 20px;
    transition: all .5s;
}

ul > li:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

ul > li > .link > ion-icon {
    margin-top: 15px;
}

.btn {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1vw;
}

.btn > button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 7vw;
    height: 5vh;
}

button > ion-icon {
    margin-right: 0.5vw;
}
